
<section class="newTestimonials pt-3 pb-5" id="newTestimonials">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center mx-auto">Don’t just take our word
                </h2>
                <p class="text-black text-center mx-auto  testmonial_heading">
                    Hear what our customers are saying
                </p>

                <div class="newTestimonialsContain mt-3  testmonial_contains">
                    <div class="owl-carousel testimonials-carousel-new owl-theme screen-carousel dot-indicator owl-loaded owl-drag">

                        <!-- slide-1 -->
                        <div class="card mx-auto ">
                            <div class="card-head ml-3 mt-3">
                                <img src="/img/republic/quotes.png"  alt="quotes" class="testimonial_card">
                            </div>
                            <div class="card-body">
                                <p class="card-text  testmonial_card_body" >
                                    AdBanao has a good variety of categories which offers from events, to
                                    birthdays, day
                                    special, festivals and with brand advertising. Each and
                                    every category has its own style, which means full of customization. The
                                    best app so far
                                </p>
                            </div>
                            <div class="card-footer  testimonial_card_footer" >
                                <div class="media">
                                    <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                        alt="Generic placeholder image" style="width: 50px;"> -->
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0 testmonial_name">George Roy</h5>
                                        <p class="mb-0 testmonial_occ">Event Management</p>
                                        <small  class="testimonial_place">Kochi</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- slide-2 -->
                        <div class="card mx-auto ">
                            <div class="card-head ml-3 mt-3">
                                <img src="/img/republic/quotes.png" alt="quotes" class="testimonial_card" >
                            </div>
                            <div class="card-body">
                                <p class="card-text testmonial_card_body">
                                    User Friendly app Easy to use Anyone can operate easily All of them are
                                    very updated I have
                                    just one suggestion Increase Your no of templates
                                    and it should be look like very rich. Thank u All 😇♥️ Now 5
                                </p>
                            </div>
                            <div class="card-footer testimonial_card_footer" >
                                <div class="media">
                                    <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                        alt="Generic placeholder image" style="width: 50px;"> -->
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0 testmonial_name" >Nitu Jewellers
                                        </h5>
                                        <p class="mb-0 testmonial_occ">Jewellery Business</p>
                                        <small class="testimonial_place">Solapur</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- slide-3 -->
                        <div class="card mx-auto ">
                            <div class="card-head ml-3 mt-3">
                                <img src="/img/republic/quotes.png" 
                                alt="quotes" class="testimonial_card">
                            </div>
                            <div class="card-body">
                                <p class="card-text testmonial_card_body" >
                                    I have been using this app recently. It has helped me alot in very few
                                    days... Wonderful
                                    app. I suggest everyone to download it if they want to save
                                    money nad advertise more.
                                </p>
                            </div>
                            <div class="card-footer testimonial_card_footer" >
                                <div class="media">
                                    <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                        alt="Generic placeholder image" style="width: 50px;"> -->
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0 testmonial_name" >Anitk</h5>
                                        <p class="mb-0 testmonial_occ" >Distribution & trading</p>
                                        <small class="testimonial_place">Ratnagiri</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- slide-4 -->
                        <div class="card mx-auto ">
                            <div class="card-head ml-3 mt-3">
                                <img src="/img/republic/quotes.png" alt="quotes"
                                class="testimonial_card" >
                            </div>
                            <div class="card-body">
                                <p class="card-text testmonial_card_body">
                                    User Friendly app Easy to use Anyone can operate easily All of them are
                                    very updated I have just
                                    one suggestion Increase Your no of templates
                                    and it should be look like very rich. Thank u All 😇♥️ Now 5
                                </p>
                            </div>
                            <div class="card-footer testimonial_card_footer">
                                <div class="media">
                                    <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                        alt="Generic placeholder image" style="width: 50px;"> -->
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-0 testmonial_name">Shubham Raj</h5>
                                        <p class="mb-0 testmonial_occ" >RBBHOSALE JEWELLERS</p>
                                        <small  class="testimonial_place">Solapur</small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>




                </div>











            </div>

        </div>
    </div>

</section>