<!--download section start-->
<style>
    .action-btns img {
        width: 200px;
    }

    .action-btns {
        display: flex;
        gap: 15px;
    }

    @media (max-width: 500px) {
        .action-btns img {
            width: 150px;
        }
    }

    .contact-us-text {
        font-family: 'Montserrat';
    }

    .ti-location-pin:before {
        margin-right: 0px !important;
    }
</style>
<section id="download" class="gray-dark-bg downloadSection" style="z-index: 0;">
    <div class="particleBg" id="particleBg" style="z-index: -1;"></div>
    <div class="bannerTemplateBackgroundAnimation" style="z-index: -1;">
        <img src="/img/sub-industry-scroll-bg.png" alt="sub industries">

    </div>
    <div class="container">
        <div class="row justify-content-around align-items-end">
            <div class="col-md-6 col-lg-5 text-lg-left">
                <div class="download-txt text-white ptb-50">
                    <h2 class="text-yellow mb-3" style="color: #fdeb04;">
                        Download Our App
                    </h2>
                    <p class="lead text-white">
                        Supercharge Your Business's Social Branding and Achieve Phenomenal Growth.
                    </p>
                    <div class="action-btns download-btn mt-4 ">
                        <a href="https://apps.apple.com/in/app/adbanao-poster-video-maker/id1566347495" target="_blank">
                            <img src="/img/socialmedia_icons/app_store.jpg" alt="app store" class="text-justify">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.adbanao" target="_blank">
                            <img src="/img/socialmedia_icons/google_play.jpg" alt="google play">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="d-flex align-items-end">
                    <img class="img-fluid" src="/img/download-black.webp" alt="download" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--download section end-->

<!--footer section start-->
<footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top gray-dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="footer-nav-wrap text-white mb-0 mb-md-4 mb-lg-0">
                        <a class="d-block" href="#"><img src="/assets/images/logo/logo-white.svg" alt="footer logo"
                                width="150" class="img-fluid mb-1"></a>
                        <p>A Social Media Branding Solution, This enables you to generate and share the best social
                            media visual content with your customers, team, audience, and network with your
                            branding.</p>
                        <ul class="list-unstyled social-list mb-3">
                            <li class="list-inline-item"><a href="https://www.facebook.com/adbanao/" target="_blank"
                                    class="rounded"><i class="fa-brands fa-facebook-f shadow"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/adbanao_app" target="_blank"
                                    class="rounded"><i class="fa-brands fa-x-twitter shadow"></i></a>
                            </li>
                            <li class="list-inline-item"><a
                                    href="https://www.youtube.com/channel/UCZur0aBgHNMOyNYRS80_RxA" target="_blank"
                                    class="rounded"><i class="fa-brands fa-youtube shadow"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/adbanao"
                                    target="_blank" class="rounded"><i class="fa-brands fa-linkedin-in shadow"></i></a>
                            </li>
                            <!-- <li class="list-inline-item"><a href="https://adbanao.tumblr.com/" target="_blank"
                                    class="rounded"><span class="fa fa-tumblr shadow"></span></a></li> -->
                            <li class="list-inline-item">
                                <a href="https://instagram.com/adbanao?utm_medium=copy_link" target="_blank"
                                    class="rounded">
                                    <i class="fa-brands fa-instagram shadow"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://wa.me/917272959525?text=Hello%20from%20AdBanao%20Web" target="_blank"
                                    class="rounded">   <i class="fa-brands fa-whatsapp shadow"></i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="https://www.quora.com/profile/AdBanao-1" target="_blank" class="rounded"><i class="fa-brands fa-quora shadow"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <div class="footer-nav-wrap text-white">
                        <h5 class="text-yellow" style="color: #fdeb04;">Useful Links</h5>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12 pr-0">
                                <ul class="list-unstyled footer-nav-list">
                                    <li><a href="/"  class="text-foot"><span class=""></span> Home</a>
                                    </li>
                                    <li><a href="/aboutus"  class="text-foot"><span class=""></span>
                                            About Us</a></li>
                                    <!-- <li><a href="/aboutus#join_adbanao_team" target="_blank" class="text-foot"><span class=""></span>
                                        Career</a></li> -->
                                    <li><a href="/blogs" class="text-foot"><span class=""></span>
                                            Blogs</a></li>
                                    <li><a href="/FAQ"  class="text-foot"><span class=""></span>
                                            FAQ</a></li>
                                    <li>
                                        <a href="/industry"  class="text-foot"><span
                                                class=""></span>Industries</a>
                                    </li>
                                    <li>
                                        <a href="/daily_quotes"  class="text-foot"><span
                                                class=""></span>Quotes</a>
                                    </li>
                                    <li>
                                        <a href="/freelogomaker"  class="text-foot"><span
                                                class=""></span>Free Logo Maker</a>
                                    </li>
                                    <li>
                                        <a href="/all_events"  class="text-foot"><span
                                                class=""></span>Get All Event</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <ul class="list-unstyled footer-nav-list">
                                           <li><a href="/career"  class="text-foot"><span class=""></span>
                                        Career</a></li>
                                    <li><a href="/privacy-and-policy"  class="text-foot"><span
                                                class=""></span> Privacy
                                            Policy</a></li>
                                    <li><a href="/terms-and-conditons"  class="text-foot"><span
                                                class=""></span> Terms &
                                            Conditions</a></li>
                                    <li>
                                        <a href="/cancellation-and-refund"  class="text-foot">
                                            <span class="">Cancellation and Refund</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/shipping-and-exchange"  class="text-foot">
                                            <span class="">Shipping and Exchange</span>
                                        </a>
                                    </li>


                                    <!-- <li><a href="#" class="text-foot"><span class=""></span>
                                            Join as a Sales Partner</a></li>
                                    <li><a href="#" class="text-foot"><span class=""></span>
                                            Join as a Content Creator</a></li> -->
                                    <li><a href="/adbanao-in-media" class="text-foot"><span class=""></span>
                                            Media and Awards</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-12 footer_contact">
                    <div class="footer-nav-wrap text-white">
                        <h5 class="text-yellow footer-head" style="color: #fdeb04;">Contact Us</h5>
                        <ul class="list-unstyled footer-nav-list mt-3">
                            <li><a href="tel:917272959525" target="_blank" class="text-foot"><span
                                        class="ti-mobile mr-1"></span> +91 7272959525</a></li>
                            <li><a href="mailto:hello@adbanao.com" target="_blank" class="text-foot"><span
                                        class="ti-email mr-2"></span>hello@adbanao.com</a></li>

                            <li>
                                <a href="/contact-us" target="_blank" class="text-foot">
                                    <span class="ti-location-pin">
                                    </span>     Contact us 
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>
<!--footer section end-->

<!-- category keywords section start -->
<section>

    <div class="col-lg-12 catKeywordSection">
        <div class="container-fluid d-flex justify-content-center align-items-center flex-column" style="width: 90%;">
            <!-- <div class="container"> -->
            <div class="row catKeywordDiv mt-3">
                <div class="col-12 d-flex justify-content-start align-items-center" style="gap: 10px;">
                    <img src="/img/Industry icon.png" alt="industryIcon" style="width: 25px;">
                    <h5>Industries we serve</h5>
                </div>

                <% sub_industries_data.forEach(function(subIndustry) { %>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="margin-bottom:0 !important">
                        <a href="/<%= subIndustry.sub_industry == 'Other' ? 'industry' : subIndustry.website_sub_industry_url  %>"
                            class="categoryKeywordName">
                            <%= subIndustry.sub_industry %>
                        </a>
                    </div>
                    <% }) %>

            </div>

            <div class="col-lg-12 bottomFooterSection">
                <p class="text-center text-md-left">Designed by <a href="https://www.accucia.com"
                        target="_blank">Accucia Softwares Pvt. Ltd.</a></p>
                <p class="text-center text-md-right">© Copyrights Adbanao All Rights reserved</p>
            </div>
            <!-- </div> -->
        </div>

    </div>

</section>
<!-- category keywords section end -->

<!-- start side panel buttons -->
<div class="sidepanelContainer">
    <div class="btnContainer">
        <!-- <div class="instaBtn">
            <i class="fa fa-instagram"></i>
        </div> -->
        <div class="instaBtn">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="fbBtn socialMedia1">
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <!-- <div class="youtubeBtn1">
            <i class="fa fa-youtube"></i>
        </div> -->
        <div class="twitterBtn1 socialMedia2">
            <i class="fa-brands fa-x-twitter"></i>
        </div>

    </div>

    <div class="sidepanelBlocks">
        <div class="closeSidepanel" id="closeSidepanel">
            <i class="fa fa-times"></i>
        </div>
        <div class="timelineContainer" id="twitterContainer" style="display: none;">
            <div class="twitterTimelines">
                <a class="twitter-timeline" href="https://twitter.com/adbanao_app?ref_src=twsrc%5Etfw">Tweets by adbanao_app</a>
                 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          
            </div>
        </div>
        <div class="timelineContainer" id="facebookContainer" style="display: none;">
            <div class="fbTimelines">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fadbanao%2F&tabs=timeline%2C%20events&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    scrolling="no" frameborder="0" allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
        <div class="timelineContainer" id="instagramContainer" style="display: none;">

            <div id="instafeed-container" class="instatime">
                <!-- <a href="https://instagram.com/adbanao?utm_medium=copy_link"></a> -->
                <iframe src="https://www.instagram.com/adbanao/embed/" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>

        <!-- <div class="timelineContainer" id="youtubeContainer" style="display: none;">

            <div id="youtube-container" class="d-flex flex-wrap">
                <iframe
                src="https://www.youtube.com/channel/UCZur0aBgHNMOyNYRS80_RxA"
                scrolling="no" frameborder="0" allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
               
            </div>
        </div> -->

    </div>
</div>
<!-- end side panel buttons -->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
</button>
<!--bottom to top button end-->